@import url('https://fonts.google.com/specimen/Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*CLASS*/

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


/*IDS*/

#container {
    width: 960px;
    position: relative;
    bottom: 60px;
}

#container2 {
    width: 960px;
    margin: 0 auto;
}

#menu {
    margin-top: 50px;
    float: right;
}

#menu a {
    padding: 100px 30px 70px;
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 2px solid black;
}

#logo {
    float: left;
    position: relative;
    bottom: 55px;
    right: 140px;
}

#principal {
    clear: left;
    padding: 0px 14px 10px 43px;
}

#esquerda {
    clear: both;
    margin-left: auto;
    margin-top: -1em;
}

#direita {
    margin-left: 75%;
    clear: both;
    margin-top: -5em;
}


/*TAGS*/

body {
    background-image: url('hands.jpg');
    background-size: 100%;
    min-height: 400px;
    height: 100%;
    margin: 0;
    font-family: Lato;
}

header {
    background-color: #8A05BE;
    height: 120px;
    padding: 20px;
}

img {
    width: 225px;
}

h1 {
    text-align: left;
    font-weight: 500;
    font-size: 40px;
    color: #8A05BE;
}

h3 {
    text-align: left;
    font-weight: 400;
}

li {
    list-style-type: none;
}

span {
    display: inline-block;
    padding: 5px;
    vertical-align: -6px;
    color: #370749;
}

div.list {
    display: inline-block;
    padding: 12px 25px 0px 5px;
    font-weight: bold;
}

h3.title {
    font-weight: 400;
    font-size: 27px;
    color: #8A05BE;
    text-shadow: 1px 1px 1px #111111;
}

input {
    border: 2px solid #8A05BE;
    border-radius: 2px;
    background: none;
    width: 121px;
    height: 35px;
    margin-right: 6px;
    margin-top: -2em;
    cursor: pointer;
    font-family: Lato;
    font-weight: bold;
}