@import url('https://fonts.google.com/specimen/Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/*IDS*/

#page {
    display: table;
    margin: auto;
    text-align: center;
    font-family: Lato;
}

#redirect {
    display: table;
    margin: auto;
    margin-top: 140px;
}

#redirect a {
    text-align: center;
    font-family: Lato;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 20px;
}

#redirect a:hover {
    border-bottom: 2px solid black;
}


/*TAGS*/

body,
html {
    background-size: 100%;
    margin: 0;
    background-image: url('party.png');
}

h1 {
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

p {
    margin-top: 150px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 2px #8A05BE;
}

a:before {
    content: ' \203A';
    font-size: 25px;
}

p::after {
    content: ' \003B' '\0029';
    font-size: 15px;
}

button {
    border: 2px solid black;
    border-radius: 2px;
    background: none;
    width: 100px;
    height: 35px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 8px;
    cursor: pointer;
    font-family: Lato;
    font-weight: bold;
}